body{
    background-image: url("https://st.depositphotos.com/1605581/4781/i/600/depositphotos_47819249-stock-photo-abstract-yellow-background-texture-design.jpg");
    
}
label{
    color: rgb(253, 0, 0);
}
#tbresult{
    color: rgb(250, 2, 2);
}